@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    background: linear-gradient(90deg, #69D200 0%, #398E10 100%);
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

h1 {
    text-align: center;
    color: white;
    font-size: 60px;
}


#bulle {
    margin: 30px auto;
    width: 350px;
    height: 350px;
    border: 10px solid #00AB1B;
    border-radius: 50%;
    background-color: #398E10;
    display: flex;
    justify-content: center;
    align-items: center;
}

#bulle span {
    color: white;
    font-size: 100px;
    font-weight: bold;
}

#data {
    width: 80%;
    margin: 50px auto;
    background-color: #027715;
    display: flex;
    flex-direction: column;
}

#data div {
    width: 90%;
    height: 30px;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #00AB1B;
    padding: 20px;
    border-radius: 15px;
}

#data div .distance {
    color: white;
    font-size: 20px;
    font-weight: bold;
}

#data div .date {
    color: #027715;
    font-size: 20px;
    font-weight: bold;
}

table thead tr th {
    text-align: center;
    width: 50%;
}

#table-body {
    text-align: center;
}